<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form name="fm" class="form-horizontal">
          <div class="form-group form-group-sm">
            <div class="col-md-12">
              <textarea class="form-control" placeholder="Pin|userid|creditlimit|description" name="list" ng-model="impdform.list" rows="20" required></textarea>
              <div ng-messages="fm.list.$error">
                <span class="alert-danger" ng-message="required">Pin is required</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat btn-sm" ng-click="importdescSave()" ng-disabled="fm.$invalid"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
        <button type="button" class="btn btn-warning btn-flat btn-sm" ng-click="$hide()"><i class="glyphicon glyphicon-ban-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>
