{% load staticfiles %}

<div class="box box-info" ng-init="init()">
<fieldset>
  <legend>List of  Used Number(AccountID)</legend>
</fieldset>
        
<div class="alert alert-info" ng-show="selected.count > 0">
  {% verbatim %}{{selected.message()}}{% endverbatim %}
</div>
<div class="btn-toolbar" role="toolbar">
 
</div>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr class="well well-sm">
       <th>{% comment %}
        <input type="checkbox" ng-model="selected.all" ng-click="selectAll($event)" />{% endcomment %}
      </th> 

      <th class="nowrap">Batch ID</th>
      <th class="nowrap">Account ID</th>

      <th class="nowrap">Display Name</th>
      <th>Status</th>
      <th>Wskey</th>
      <th>Assigned date</th>
      <th>Assignee</th>
      <th>Blocked Date</th>
      <th>Release Date</th>
      <th>State</th>
      <th>Code Area</th>
    </tr>
  </thead>
    <tbody>
      <tr ng-repeat="o in listusedbyaccntid">
        <td>
           {% comment %}<input type="checkbox" ng-model="o.selected" ng-click="selectRow($event, o)" />{% endcomment %}
        </td> 
        <td class="nowrap">{% verbatim %}{{o.batchid}}{% endverbatim %}</td>
        <td class="nowrap"></td>

        <td class="nowrap">{% verbatim %}{{o.callerid}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.status}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.wskey}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.assigndate}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.assignee}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.blockdate}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.releasedate}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.code_area}}{% endverbatim %}</td>
        <td class="nowrap">{% verbatim %}{{o.state}}{% endverbatim %}</td>

      </tr>
    </tbody>
</table>
</div>
<script src="{% static 'app/js/bbcalleridusedbyaccntid/controller.js' %}?v={{ver}}"></script>
