<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form name="fm" class="form-horizontal">
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Supervisor</label>
            <div class="col-md-10">
              <select class="form-control" name="supervisor" ng-model="formauth.supervisor" ng-change="changeSupervisor()">
                <option value="">Please select</option>
                <option ng-repeat="o in formauth.supervisorlist" value="{{o.sloginname}}">{{o.sloginname}}</option>
              </select>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">IP</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="ip" name="ip" ng-model="formauth.ip" />
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input type="password" class="form-control" placeholder="password" name="password" ng-model="formauth.psw" />
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Remark</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="remark" name="remark" ng-model="formauth.remark" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat btn-sm" ng-click="sendReq()">Send Request</button>
        <button type="button" class="btn btn-primary btn-flat btn-sm" ng-click="submitAuth()">OK</button> 
        <button type="button" class="btn btn-warning btn-flat btn-sm" ng-click="$hide()"><i class="glyphicon glyphicon-ban-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>
