<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form name="fm" class="form-horizontal">
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Device</label>
            <div class="col-md-10">
              <ui-select ng-model="form.device.selected" style="width: 100%">
                <ui-select-match placeholder="Please select">{{$select.selected.deviceid}} - {{$select.selected.devicename}}</ui-select-match>
                <ui-select-choices repeat="o in form.devicelist | filter: $select.search">
                  <span ng-bind-html="o.deviceid | highlight: $select.search"></span>&nbsp;-&nbsp;
                  <span ng-bind-html="o.devicename | highlight : $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Units</label>
            <div class="col-md-10">
              <input type="number" class="form-control" placeholder="Units" name="units" ng-model="form.units" />
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-md-2 control-label">Remark</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Remark" name="remarks" ng-model="form.remarks" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat btn-sm" ng-click="save()" ng-disabled="fm.$invalid"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
        <button type="button" class="btn btn-warning btn-flat btn-sm" ng-click="$hide()"><i class="glyphicon glyphicon-ban-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>
