{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <!-- Main row -->
    <div class="row" id="mainContainer" style="display:none" ng-controller="IndexCtrl" ng-init="init()">
      <section class="col-md-12">
        <form name="fm1" class="form-horizontal" role="form" ng-submit="submit1()" novalidate>
          <fieldset>
            <legend>Add State/District Code</legend>
            <div class="form-group form-group-sm">
              <label class="col-md-2 control-label">Code Area</label>
              <div class="col-md-4">
                <ui-select ng-model="form.wslogin.selected" ng-change="changewslogin()" ng-required="true" style="width: 100%">
                  <ui-select-match placeholder="Please select">{% verbatim %}{{$select.selected.sloginname}}{% endverbatim %} - {% verbatim %}{{$select.selected.wholesalerkey}}{% endverbatim %}</ui-select-match>
                  <ui-select-choices repeat="o in form.wsloginlist | filter: $select.search">
                    <span ng-bind-html="o.sloginname | highlight: $select.search"></span>&nbsp;-&nbsp;
                    <span ng-bind-html="o.wholesalerkey | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-2 control-label">Select District</label>
              <div class="col-md-4">
                <ui-select ng-model="form.wslogin.selected" ng-change="changewslogin()" ng-required="true" style="width: 100%">
                  <ui-select-match placeholder="Please select">{% verbatim %}{{$select.selected.sloginname}}{% endverbatim %} - {% verbatim %}{{$select.selected.wholesalerkey}}{% endverbatim %}</ui-select-match>
                  <ui-select-choices repeat="o in form.wsloginlist | filter: $select.search">
                    <span ng-bind-html="o.sloginname | highlight: $select.search"></span>&nbsp;-&nbsp;
                    <span ng-bind-html="o.wholesalerkey | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-md-2 control-label">Code</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="pwd1" ng-model="text" ng-minlength="6" ng-required="true" />
                {% comment %} <div ng-messages="fm1.pwd1.$error">
                  <span class="alert-danger" ng-message="required">Field is required</span>
                  <span class="alert-danger" ng-message="minlength">Minimum length is 6</span> {% endcomment %}
                </div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-primary btn-flat btn-sm btn-block" type="submit" ng-disabled="fm1.$invalid">Create</button>
              </div>
            </div>
          </fieldset>
        </form>
     
         
      </section>
    </div><!-- /.row (main row) -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{% comment %} <script src="{% static 'app/js/setpassword/controller.js' %}?v={{ver}}"></script> {% endcomment %}

{% endblock %}
